/*///////////////////////////////
////////// INITIALIZE //////////
//////////////////////////////*/

@font-face {
  font-family: "HK Grotesk";
  src: url(../assets/fonts/hk-grotesk.woff2), url(../assets/fonts/hk-grotesk.woff);
}

/*/////////////
//// BASE ////
////////////*/

body {
  font-family: "HK Grotesk", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 1.25;
  color: #333;
  background-color: #fff;
}

/*///////////////////
////// HEADER //////
//////////////////*/

header {
  margin-left: 20px;
  position: fixed;
  z-index: 1;
  transition: color 500ms;
}

h1 {
  margin-bottom: 0;
  font-size: inherit;
  font-weight: normal;
}

/*////////////////////////////
///////// SECTIONS //////////
///////////////////////////*/

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px;
}

.content,
.content img {
  position: relative;
}

/*|/////// SECTION 1 //////////*/

.s1 { background-color: #c8dee0; }

.s1 .square { background-color: #d54156; }

.s1 .circle { background-color: #5982a0; }

/*|/////// SECTION 2 //////////*/

.s2 { background-color: #c5c5c5; }

.s2 .square { background-color: #d6ac35; }

.s2 .circle { background-color: #be3c52; }

/*|/////// SECTION 3 //////////*/

.s3 { background-color: #292121; }

.s3 .square { background-color: #5f3736; }

.s3 .circle { background-color: #6e5f67; }

/*|/////// SECTION 4 //////////*/

.s4 { background-color: #f3f1f2; }

.s4 .square { background-color: #d54156; }

.s4 .circle { background-color: #5982a0; }

/*|///////////////////////////
///////// UTILITIES /////////
///////////////////////////*/

.progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background-color: #333;
  z-index: 1;
  transition: background-color 500ms;
}

.square {
  position: absolute;
  top: 50px;
  left: -50px;
  width: 100px;
  height: 100px;
}

.circle {
  position: absolute;
  bottom: 50px;
  right: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.progress.white {
  background-color: #fff;
}

header.white {
  color: #fff;
}