/*///////////////////////////////
////////// INITIALIZE //////////
//////////////////////////////*/

@font-face {
  font-family: "HK Grotesk";
  src: url(../assets/fonts/hk-grotesk.woff2), url(../assets/fonts/hk-grotesk.woff);
}

/*/////////////
//// BASE ////
////////////*/

body {
  font-family: "HK Grotesk", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 1.25;
  color: #333;
  background-color: #fff;
}

header {
  position: fixed;
  z-index: 1;
}

h1 {
  font-size: inherit;
  font-weight: normal;
}